### Claude Code ###
.claude/settings.local.json

### Go ###
*.dylib
*.out
*.test
.env

### macOS ###
._*
*.icloud
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DS_Store
.DocumentRevisions-V100
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
Icon
Network Trash Folder
Temporary Items

### VSCode ###
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/*.code-snippets
.history/
*.vsix
