services:
  influxdb:
    image: influxdb:2
    ports:
      - "8086:8086"
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: admin
      DOCKER_INFLUXDB_INIT_PASSWORD: adminpassword
      DOCKER_INFLUXDB_INIT_ORG: homelab
      DOCKER_INFLUXDB_INIT_BUCKET: solar-raw
      DOCKER_INFLUXDB_INIT_RETENTION: 720h
    volumes:
      - influxdb_data:/var/lib/influxdb2

volumes:
  influxdb_data:
