name: Auth

on:
  push:
    branches: [main]
    paths:
      - services/auth/**/*.go
      - services/auth/go.mod
      - services/auth/go.sum
      - services/auth/Dockerfile
      - services/auth/sql/**
      - services/auth/sqlc.yaml
      - .github/workflows/auth.yml

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/setup-qemu-action@v3

      - uses: docker/setup-buildx-action@v3

      - uses: docker/build-push-action@v6
        with:
          context: services/auth
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/terenceodonoghue/auth-api:latest
