name: Fronius Service

on:
  push:
    branches: [main]
    paths:
      - services/fron-svc/**/*.go
      - services/fron-svc/Dockerfile
      - pkg/**/*.go
      - go.mod
      - go.sum
      - .github/workflows/fron-svc.yml

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/setup-qemu-action@v3

      - uses: docker/setup-buildx-action@v3

      - uses: docker/build-push-action@v6
        with:
          context: .
          file: services/fron-svc/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/terenceodonoghue/fron-svc:latest
