name: Solar

on:
  push:
    branches: [main]
    paths:
      - services/solar-svc/**/*.go
      - services/solar-svc/go.mod
      - services/solar-svc/go.sum
      - services/solar-svc/Dockerfile
      - .github/workflows/solar.yml

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/setup-qemu-action@v3

      - uses: docker/setup-buildx-action@v3

      - uses: docker/build-push-action@v6
        with:
          context: services/solar-svc
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/terenceodonoghue/solar-svc:latest
